<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <br><br>
            <div class='row'>
                <div class="container">
                <div class='col-md-2'>
            		<img class='img-responsive img-rounded ' src='/img/justin_mankin.jpg' />
            	</div>

            	<div class='col-md-10'>
                <p>
                  I am an interdisciplinary climate scientist and an Earth Institute Postdoctoral Fellow at Columbia University, jointly appointed by Lamont-Doherty Earth Observatory and the Center for Climte Systems Research at NASA Goddard Institute for Space Studies.
                  My research aims to constrain the uncertainty essential to understanding and responding to climate change’s impacts on people. Working on water and agriculture, I focus on two of the major sources of uncertainty in climate impacts assessments: the chaos of the climate system and the complexity of how people respond to climate stress.
                  I hope my research can help inform the adaptation and risk management decisions people undertake in response to the uncertain threats from climate change. This requires advances in both basic and applied climate science, to include the integration of risk management, economics, and the communication of uncertainty.
                  My previous career was as an intelligence officer working in South Asia and the Middle East. I am from Vermont and I hold degrees from Columbia University (BA, MPA), the London School of Economics (MSc), and Stanford University (PhD). <!-- live in Nyack, NY, with my wife <a href="https://web.stanford.edu/dept/anthropology/cgi-bin/web/?q=node/645" target='_blank'>Maron Greenleaf</a> and my daughter Halilee.-->
                </p>
            	</div>
            </div>

        </div>
    </section>
