<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <br><br>
            <div class='row'>
                <div class="container">
                <div class='col-md-1 vcenter'>
                </div>
                <div class='col-md-2 vcenter'>

            		<img class='img-responsive img-rounded ' src='/img/IMG2.jpg' /> <br>
                <a href="/papers/Mankin_CV.pdf" target="_blank" class="btn btn-primary" title="Download CV as PDF">Download CV</a>

              </div>
              <div class='col-md-7'>
                <p>
                <a href="mailto:mankin@dartmouth.edu" target='_blank'>Justin Mankin</a> is a climate scientist, assistant professor in the <a href="http://geography.dartmouth.edu/people/justin-s-mankin" target='_blank'>Department of Geography</a> at <a href="http://dartmouth.edu" target='_blank'>Dartmouth College</a>, and PI of the Dartmouth Climate Modeling & Impacts Group. He is also on the faculty of <a href="http://sites.dartmouth.edu/EEES/" target="_blank">the Ecology, Evolution, Ecosystems, & Society (EEES) graduate program.</a> </p>
                <p>Until July 2018, he's based at <a href="http://www.ldeo.columbia.edu" target='_blank'>Lamont-Doherty Earth Observatory of Columbia University</a> and <a href="https://www.giss.nasa.gov" target='_blank'>NASA Goddard Institute for Space Studies</a>.</p>
              </p>
              <p>His interdisciplinary research constrains the uncertainty essential to understanding and responding to climate change’s impacts on people and ecosystems. His previous career was as an intelligence officer working in South Asia and the Middle East. He's from Vermont and holds degrees from Columbia (BA, MPA), the London School of Economics (MSc), and Stanford (PhD).</p>
              </div>
                <div class="col-md-1 text-center">

                    <ul class="list-inline social-buttons">

                        <li><a href="mailto:mankin@dartmouth.edu"><i class="fa fa-envelope"></i></a>
                        </li>

                        <li><a href="http://twitter.com/jsmankin" target='_blank'><i class="fa fa-twitter"></i></a>
                        </li>

                        <li><a href="https://scholar.google.com/citations?user=jpm35hwAAAAJ&hl=en&oi=ao" target='_blank'><i class="ai ai-google-scholar-square"></i></a>
                        </li>

                        <li><a href="http://www.orcid.org/0000-0003-2520-4555" target='_blank'><i class="ai ai-orcid"></i></a>
                        </li>

                        <li><a href="http://www.researchgate.net/profile/Justin_Mankin" target='_blank'><i class="ai ai-researchgate-square"></i></a>
                        </li>

                        <li><a href="http://github.com/jsmankin" target='_blank'><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                    <br><br>
                  </div>

              </div>
              <br><br>
            	</div>
            </div>

        </div>
    </section>
