<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-5'>
            	</div>
            	<div class='col-md-2'>
            		<img class='img-responsive img-circle ' src='/img/profile-pic.jpg' />
            	</div>
            	<div class='col-md-5'>
            	</div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                      I am an interdisciplinary climate scientist and an Earth Institute Postdoctoral Fellow at Columbia University. I am jointly appointed by Lamont-Doherty Earth Observatory and NASA Goddard Institute for Space Studies.
                      My research aims to constrain the uncertainty essential to understanding and responding to climate change’s impacts on people. I focus on two of the major sources of uncertainty in climate impacts assessments: the chaos of the climate system and the complexity of how people respond to climate stress.
                      I hope my research can help inform the adaptation and risk management decisions people undertake in response to the uncertain threats from climate change. This requires I make advances in both basic and applied climate science, to include the integration of risk management, economics, and the communication of uncertainty.
                      My previous career was as an intelligence officer working in the South Asia and the Middle East. I holds degrees from Columbia University (BA, MPA), the London School of Economics (MSc), and Stanford University (PhD).
                    </p>
                </div>
            </div>
        </div>
    </section>
