<!-- Services Section -->
    <section id="cv">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">CV</h2>
                    <h3 class="section-subheading text-muted">
                        You can find a full pdf of my CV here |<a href="/files/CV.pdf" class="btn btn-default" title="Download CV as PDF">Download CV</a>
                      </div>
                  <h4>Present position</h4>
                  <p><strong>Postdoctoral Research Scientist, <a href="http://www.ldeo.columbia.edu" target='_blank'>Lamont-Doherty Earth Observatory</a> & <a href="http://ccsr.columbia.edu/" target='_blank'>Center for Climate Systems Research</a> at <a href="http://www.giss.nasa.gov" target='_blank'>NASA Goddard Institute for Space Studies</a>, <a href="https://www.columbia.edu" target='_blank'>Columbia University</a></strong>
                    <em>Earth Institute Fellow; mentored by <a href="http://www.ldeo.columbia.edu/res/div/ocp/people/seager/" target='_blank'>Richard Seager</a>, <a href="https://scholar.google.com/citations?user=Q27YL-kAAAAJ&hl=en" target='_blank'>Radley Horton</a>, & <a href="http://www.ldeo.columbia.edu/~jsmerdon/" target='_blank'>Jason Smerdon</a></em></p><br>
                    <h4>Education</h4>
                    <p><strong><abbr title="Doctor of Philosophy">PhD</abbr>, <a href="https://earth.stanford.edu" target='_blank'>School of Earth, Energy, & Environmental Sciences</a>, Stanford University, Stanford, CA, USA, 2015</strong><br>
				            <em>Environment & Resources; advised by <a href="https://pangea.stanford.edu/researchgroups/cesd/" target='_blank'>Noah S. Diffenbaugh</a></em></p>
                    <p><strong><abbr title="Masters of Public Administration">MPA</abbr>, <a href="https://sipa.columbia.edu" target='_blank'>SIPA</a> & <a href="https://http://www.earth.columbia.edu/sections/view/9" target='_blank'>The Earth Institute</a>, Columbia University, New York, NY, USA, 2010</strong><br>
				            <em>Environmental Science & Policy</em></p>
                    <p><strong><abbr title="Masters of Science">MPA</abbr>, London School of Economics & Political Science, London, UK, 2008</strong><br>
				            <em><a href="http://www.lse.ac.uk/home.aspx" target='_blank'>Global Politics & Development Studies</a></em></p>
                    <p><strong><abbr title="Bachelor of Arts">BA</abbr>, Columbia University, New York, NY, USA, 2004</strong><br>
                    <em><a href="http://www.columbia.edu" target='_blank'>Political Science</a></em></p>
            </div>
        </div>
    </section>
