<!-- Services Section -->
    <section id="opportunities">
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-lg-12 text-center">
                                  <h2 class="section-heading">Opportunities</h2>
                                  <h5> Join our dynamic and inclusive group!</p></a></strong></h5>
                                  <br>
                                  <div class="col-lg-4" style="border-right:1px solid #cecece;">
                  <h4>Postdoctoral Research</h4><br>

                  <p>There are a couple of postdoc possibilities to work with our group beyond NOAA and NSF programs: </p><br>
                  <div class='layout--p-b-5 layout--m-l-20'>
                  <p><strong>1.   <a href="https://apply.interfolio.com/82515" target="_blank">CMIG postdoctoral research position in drought-vegetation interactions</strong></a></p><p>You can apply directly to work with the group on a NOAA-funded project on vegetation and drought, with collaborators at Lamont-Doherty Earth Observatory.
                    <a href="https://apply.interfolio.com/82515" target="_blank"><strong>See the Interfolio application here</strong></a> or <a href="mailto:mankin@dartmouth.edu"><strong>email Justin to discuss.</strong></p><br><br>
                  </div>
                  <p><strong>1. <a href="http://neukom.dartmouth.edu/programs/neukom_fellows_app.html" target='_blank'>The Neukom Postdoctoral Research Fellowship</a></strong></p>
                    <div class='layout--p-b-5 layout--m-l-20'>
                    <p>This is an interdsiciplinary computational postdoctoral fellowship sponsored by <a href="http://neukom.dartmouth.edu" target='_blank'>the Neukom Institute</a>, based around an original proposal. If you have an interest in applying and being a postdoc in our group, this is one avenue to do so. Applications completed by November 15 receive full consideration. <a href="mailto:mankin@dartmouth.edu" target='_blank'><strong>Email Justin to discuss.</strong></p><br>
                  </div>

                  </div>
                    <div class="col-lg-4" style="border-right:1px solid #cecece;">
                    <h4>Graduate Student Research</h4><br>
                    <p>Graduate students can join the lab via two pathways pending funding, <a href="http://sites.dartmouth.edu/EEES/" target="_blank">EEES</a> and <a href="http://earthsciences.dartmouth.edu/" target="_blank">Earth Sciences</a>. Please <a href="mailto:mankin@dartmouth.edu"><strong> email Justin</strong></a> briefly stating your research interests and CV if you'd like to apply.</p>
                    <br><br>

                    <p>1. The <a href="https://sites.dartmouth.edu/EEES/eees-guidelines/for-prospective-students" target='_blank'><strong>Ecology, Evolution, Ecosystems & Society (EEES) PhD program</strong></a> at <a href="http://dartmouth.edu" target='_blank'>Dartmouth College.</a> <strong><a href="papers/Mankin_Grad_Ad_2017.pdf" target="_blank">See our group advertisement here.</strong></a> (The deadline is December 1, though it is somewhat flexible.)</p>
                    <br><br>

                    <p>2. The <a href="http://earthsciences.dartmouth.edu/graduate/prospective-and-current-students" target='_blank'><strong>Department of Earth Sciences (EARS)</strong></a> at <a href="http://dartmouth.edu" target='_blank'>Dartmouth College.</a> (Deadline January 15th.)</p>
                    <br><br>
                  </div>

                    <div class="col-lg-4 text-center" >
                    <h4>Undergraduate Research</h4><br>
                    <p>If you are a Dartmouth undergraduate student, a geography department honors thesis student, or interested in working with the group on climate research <a href="mailto:mankin@dartmouth.edu"><strong>send Justin an email</strong></a> briefly outlining your research interests and we can set up a time to discuss research projects beginning in the fall of 2018.</p>
                  </div>


            </div>
        </div>
    </section>
