<!-- Services Section -->
    <section id="opportunities">
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-lg-12 text-center">
                                  <h2 class="section-heading">Opportunities</h2>
                                  <h5> Join the group! </p></a></strong></h5>
                                  <br>
                                  <div class="col-lg-4" style="border-right:1px solid #cecece;">
                  <h4>Postdoctoral Research</h4><br>

                  <p>There are a number of postdoc possibilities to work with our group: </p><br>
                  <div class='layout--p-b-5 layout--m-l-20'>
                  <p><strong>1. <a href="https://www.interfolio.com/" target="_blank">CMIG postdoctoral position in hydroclimate variability and impacts</strong></a></p><p>You can apply directly to work with the group.
                    See details <a href="https://www.interfolio.com/" target="_blank">here</a> or <a href="mailto:mankin@dartmouth.edu"><strong>email Justin to discuss.</strong></p><br><br>
                  </div>
                  <p><strong>2. <a href="http://neukom.dartmouth.edu/programs/neukom_fellows_app.html" target='_blank'>The Neukom Postdoctoral Research Fellowship</a></strong></p>
                    <div class='layout--p-b-5 layout--m-l-20'>
                    <p>This is an interdsiciplinary computational postdoctoral fellowship sponsored by <a href="http://neukom.dartmouth.edu" target='_blank'>the Neukom Institute</a>, based around an original proposal. If you have an interest in applying and being a postdoc in our group, this is one avenue to do so. Applications completed by November 15 receive full consideration. <a href="mailto:mankin@dartmouth.edu" target='_blank'><strong>Email Justin to discuss.</strong></p><br>
                  </div>
                  <div class='layout--p-b-5 layout--m-l-20'>
                  <p><strong>3. <a href="http://geography.dartmouth.edu/research/postdoctoral-fellowships" target="_blank">Geography Postdoctoral Fellowship</a></strong></p>
                  <p><a href="http://geography.dartmouth.edu" target='_blank'>Dartmouth's Department of Geography</a></strong> has a postdoctoral fellowship program based around an original proposal. <a href="mailto:mankin@dartmouth.edu"><strong>Email Justin to discuss.</strong></p><br><br>
                  </div>
                    <div class='layout--p-b-5 layout--m-l-20'>
                    <p><strong>4. <a href="https://www.dartmouth.edu/sof/fellowships/postdoc.html" target="_blank">Dartmouth Society of Fellows</a></strong></p>
                    <p> This is a fellowship where applicants identify at least one Dartmouth faculty member with similar scholarship.<a href="mailto:mankin@dartmouth.edu"><strong>Email Justin to discuss.</strong></a>
                    </div>
                  </div>
                    <div class="col-lg-4" style="border-right:1px solid #cecece;">
                    <h4>Graduate Student Research</h4><br>
                    <p>I admit graduate students to my lab via two pathways, below. <a href="mailto:mankin@dartmouth.edu"><strong>Please email Justin</strong></a> briefly stating your research interests and CV before applying.</p>
                    <br><br>

                    <p>1. The <a href="https://sites.dartmouth.edu/EEES/eees-guidelines/for-prospective-students" target='_blank'><strong>Ecology, Evolution, Ecosystems & Society (EEES) PhD program</strong></a> at <a href="http://dartmouth.edu" target='_blank'>Dartmouth College.</a> (Deadline December 1, though somewhat flexible.)</p>
                    <br><br>

                    <p>2. The <a href="http://earthsciences.dartmouth.edu/graduate/prospective-and-current-students" target='_blank'><strong>Department of Earth Sciences (EARS)</strong></a> at <a href="http://dartmouth.edu" target='_blank'>Dartmouth College.</a> (Deadline January 15th.)</p>
                    <br><br>
                  </div>

                    <div class="col-lg-4 text-center" >
                    <h4>Undergraduate Research</h4><br>
                    <p>If you are a Dartmouth undergraduated student, a geography department honors thesis student, or interested in working with the group on climate research <a href="mailto:mankin@dartmouth.edu"><strong>send Justin an email</strong></a> briefly outlining your research interests and we can set up a time to discuss research projects beginning in the fall of 2018.</p>
                  </div>

                    <!--<section id="cv">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2 class="section-heading">CV</h2><br>
                                    <div class="col-lg-12 text-center">

                                        <ul class="list-inline social-buttons">

                                            <li><a href="mailto:jsmankin@ldeo.columbia.edu"><i class="fa fa-envelope"></i></a>
                                            </li>

                                            <li><a href="http://www.orcid.org/0000-0003-2520-4555" target='_blank'><i class="ai ai-orcid"></i></a>
                                            </li>

                                            <li><a href="https://scholar.google.com/citations?user=jpm35hwAAAAJ&hl=en&oi=ao" target='_blank'><i class="ai ai-google-scholar-square"></i></a>
                                            </li>

                                            <li><a href="http://www.researchgate.net/profile/Justin_Mankin" target='_blank'><i class="ai ai-researchgate-square"></i></a>
                                            </li>

                                            <li><a href="http://twitter.com/jsmankin" target='_blank'><i class="fa fa-twitter"></i></a>
                                            </li>

                                            <li><a href="http://github.com/jsmankin" target='_blank'><i class="fa fa-github"></i></a>
                                            </li>
                                        </ul>
                                        <br><br>
                                      </div>
                                    <div class="section-subheading text-muted">
                                        <a href="/papers/Mankin_CV.pdf" target="_blank" class="btn btn-primary" title="Download CV as PDF">Download Full CV</a>
                                      </div>
                                  </div>
                                  <br><br>
                                  <h4>Academic Appointments</h4>
                                  <p><strong>ASSISTANT PROFESSOR (beginning July 2018)</p>
                                    <div class='layout--p-b-5 layout--m-l-20'>
                                    <p><a href="http://geography.dartmouth.edu" target='_blank'>Department of Geography</a> at <a href="http://dartmouth.edu" target='_blank'>Dartmouth College</a></strong>
                                    </div>
                                    <br><br>

                                <!--  <p><strong>ADJUNCT ASSISTANT PROFESSOR</p>
                                    <div class='layout--p-b-5 layout--m-l-20'>
                                      <p><a href="http://earthsciences.dartmouth.edu" target='_blank'>Department of Earth Sciences</a> at <a href="http://dartmouth.edu" target='_blank'>Dartmouth College</a></strong></i>
                                      </div>
                                  <p><strong>ADJUNCT ASSISTANT PROFESSOR</p>
                                    <div class='layout--p-b-5 layout--m-l-20'>
                                  <p><a href="https://sites.dartmouth.edu/EEES/" target='_blank'>Ecology, Evolution, Ecosystems & Society (EEES)</a> at <a href="http://dartmouth.edu" target='_blank'>Dartmouth College</a></strong>
                                  </div>
                                  <br><br>
                                  -->
              <!--    <h4>Present positions</h4>
                  <p><strong>VISITING RESEARCH SCHOLAR</p>
                    <div class='layout--p-b-5 layout--m-l-20'>
                    <p><a href="http://geography.dartmouth.edu" target='_blank'>Department of Geography</a> at <a href="https://www.columbia.edu" target='_blank'>Dartmouth College</a></strong><br>
                    </div>

                  <p><strong>POSTDOCTORAL RESEARCH FELLOW</p>
                    <div class='layout--p-b-5 layout--m-l-20'>
                    <p><a href="http://www.ldeo.columbia.edu" target='_blank'>Lamont-Doherty Earth Observatory</a> & <a href="http://ccsr.columbia.edu/" target='_blank'>Center for Climate Systems Research</a> at <a href="http://www.giss.nasa.gov" target='_blank'>NASA Goddard Institute for Space Studies</a>, <a href="https://www.columbia.edu" target='_blank'>Columbia University</a></strong>
                    </p><p><em>Earth Institute Fellow; mentored by <a href="http://www.ldeo.columbia.edu/res/div/ocp/people/seager/" target='_blank'>Richard Seager</a>, <a href="http://www.radleyhorton.com/" target='_blank'>Radley Horton</a>, & <a href="http://www.ldeo.columbia.edu/~jsmerdon/" target='_blank'>Jason Smerdon</a></em></p>
                  </div>
                    <br><br>
                    <h4>Education</h4>
                    <p><strong><abbr title="Doctor of Philosophy">PhD</abbr>, <a href="https://earth.stanford.edu" target='_blank'>School of Earth, Energy, & Environmental Sciences</a>, Stanford University, Stanford, CA, USA, 2015</strong><br>
				            <em>Environment & Resources; advised by <a href="https://pangea.stanford.edu/researchgroups/cesd/" target='_blank'>Noah Diffenbaugh</a></em></p>
                    <p><strong><abbr title="Masters of Public Administration">MPA</abbr>, <a href="https://sipa.columbia.edu" target='_blank'>SIPA</a> & <a href="https://http://www.earth.columbia.edu/sections/view/9" target='_blank'>The Earth Institute</a>, Columbia University, New York, NY, USA, 2010</strong><br>
				            <em>Environmental Science & Policy</em></p>
                    <p><strong><abbr title="Masters of Science">MSc</abbr>, <a href="http://www.lse.ac.uk/home.aspx" target='_blank'>London School of Economics & Political Science</a>, London, UK, 2008</strong><br>
				            <em>Global Politics & Development Studies</em></p>
                    <p><strong><abbr title="Bachelor of Arts">BA</abbr>, <a href="http://www.columbia.edu" target='_blank'>Columbia University</a>, New York, NY, USA, 2004</strong><br>
                    <em>Political Science</em></p>
                  -->
            </div>
        </div>
    </section>
